.all {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
  height: 50px;
    width: 50px;
    border-radius: 50%;
}


.name {
    font-size: 20px;
    font-weight: 700;
    color: yellow;
}

.time {
    color: #aaa;
    position: relative;
    top: -80px;
    left: 300px;
}

.notall {
    width: 19%;
    font-weight: bold;
    background-color: darkgreen;
    position: relative;
    top: -55px;
    left: 70px;
    padding: 10px;
    border-radius: 20px;
}
