.all {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.avatar {
  height: 50px;
    width: 50px;
    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 5px 5px 5px 0px;
    background: linear-gradient(
            greenyellow, green,  darkgreen
    );
}


.ygol {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, darkgreen 0px);
}

.message {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.time {
    color: #aaa;
    position: relative;
    top: -80px;
    left: 300px;
}
